---
interface Props {
  titulo: string;
  descrip: string;
   
}
const { titulo, descrip} = Astro.props;
---

<section class="bg-linear-to-r from-zinc-900 to-amber-800 border-2 border-amber-950 rounded-2xl w-full">
  <div
    class="grid items-center justify-center px-4 py-8 mx-auto lg:gap-8 xl:gap-0 md:py-16 md:grid-cols-12"
  >
    <div class="mr-auto place-self-center md:col-span-7">
      <h1 class="text-slate-100 max-w-2xl mb-4 tracking-tight leading-none">
        {titulo}
      </h1>
      <p class="max-w-2xl mb-6 font-light text-gray-100 md:mb-8 md:text-xl">
        {descrip}
      </p>
    </div>
  </div>
</section>
