---
 
const dataProveed = [
  {
    id: 1,
    nombre: "Alcaldia Valencia",
    url: "valencia",
  },
  
  
  
   
];
---

<button
  id="dropdownHoverButtonAlcaldia"
  data-dropdown-toggle="dropdownHoverAlcaldia"
  data-dropdown-trigger="hover"
  class="text-gray-500 hover:font-bold focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-lg text-center inline-flex items-center"
  type="button"
  >Alcaldias <svg
    class="arrow w-2.5 h-2.5 ms-3"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 10 6"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="m1 1 4 4 4-4"></path>
  </svg>
</button>

<!-- Dropdown menu -->
<div
  id="dropdownHoverAlcaldia"
  class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow max-w-md"
>
  <ul
    class="py-2 text-lg text-gray-900"
    aria-labelledby="dropdownHoverButton"
  >
    {
      dataProveed.map((item) => (
        <li>
          <a
            href={`/alcadias/${item.url}/`}
            class="block px-4 font-bold"
          >
             {item.nombre}
          </a>
        </li>
      ))
    }
  </ul>
</div>
