---
import Cta from "../../components/Cta.astro"
import Destacados from "../../components/Destacados.astro"
import HeaderInterno from "../../components/HeaderInterno.astro"
import Seccion from "../../components/Seccion.astro"

import Layout from "../../layouts/Layout.astro"

const items = [
  {
    itemtitulo: "Permisos y Licencias",
    descrip:
      "Plan it, create it, launch it. Collaborate seamlessly with all the organization and hit your marketing goals every month with our marketing plan.",
    url: "/servicios/permisos-y-licencias",
    icon: "thumbs-up",
  },
  {
    itemtitulo: "Consultoria",
    descrip:
      "Plan it, create it, launch it. Collaborate seamlessly with all the organization and hit your marketing goals every month with our marketing plan.",
    url: "",
    icon: "info-circle",
  },
  {
    itemtitulo: "Registros Empresas",
    descrip:
      "Plan it, create it, launch it. Collaborate seamlessly with all the organization and hit your marketing goals every month with our marketing plan.",
    url: "",
    icon: "content",
  },
  {
    itemtitulo: "Licencia Actividades Económicas",
    descrip:
      "Plan it, create it, launch it. Collaborate seamlessly with all the organization and hit your marketing goals every month with our marketing plan.",
    url: "",
    icon: "address",
  },
  {
    itemtitulo: "Servicios de Contabilidad, Impuestos Y Administrativos",
    descrip:
      "Plan it, create it, launch it. Collaborate seamlessly with all the organization and hit your marketing goals every month with our marketing plan.",
    url: "",
    icon: "pie",
  },
  {
    itemtitulo: "Trámites en Alcadias",
    descrip:
      "Plan it, create it, launch it. Collaborate seamlessly with all the organization and hit your marketing goals every month with our marketing plan.",
    url: "",
    icon: "apply",
  },
];

---
<Layout>
  <Seccion>
  <HeaderInterno titulo="Servicios" descrip=""/>
  <div
          class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-4 md:space-y-0 my-2"
        >
          {
            items.map((item) => (
              <Destacados
                itemtitulo={item.itemtitulo}
                descrip={item.descrip}
                url={item.url}
                icon={item.icon}
              />
            ))
          }
        </div>
   <Cta titulo="Ponte En Contacto" descrip=""/>
  </Seccion>
</Layout>