---
import Layout from "../../layouts/Layout.astro";
import HeaderInterno from "../../components/HeaderInterno.astro";
import SeccionServicios from "../../components/SeccionServicios.astro";
import Cta from "../../components/Cta.astro";
import Seccion from "../../components/Seccion.astro";
import Destacados from "../../components/Destacados.astro";
 
const items = [
  {
    itemtitulo: "Permisos y Licencias",
    descrip:
      "Plan it, create it, launch it. Collaborate seamlessly with all the organization and hit your marketing goals every month with our marketing plan.",
    url: "/servicios/permisos-y-licencias",
    imagen: "image-4.jpg",
  },
  {
    itemtitulo: "Trámites Administrativos",
    descrip:
      "Plan it, create it, launch it. Collaborate seamlessly with all the organization and hit your marketing goals every month with our marketing plan.",
    url: "",
    imagen: "image-4.jpg",
  },
  {
    itemtitulo: "Registros Empresas",
    descrip:
      "Plan it, create it, launch it. Collaborate seamlessly with all the organization and hit your marketing goals every month with our marketing plan.",
    url: "",
    imagen: "image-4.jpg",
  },
 
   
];
---

<Layout>
  <Seccion>
    <HeaderInterno
      titulo="Permisos y Licencias"
      descrip="Lo mejor que tenemos aqui"
    />

    <SeccionServicios>
      <div id="accordion-collapse" data-accordion="collapse">
        <h4 id="accordion-open-heading-1">
          <button
            type="button"
            class="flex items-center justify-between w-full p-3 font-bold rtl:text-right border border-gray-700 hover:text-slate-200 hover:bg-primary-700 gap-3"
            data-accordion-target="#accordion-open-body-1"
            aria-expanded="false"
            aria-controls="accordion-open-body-1"
          >
            <span class="flex items-center"> Permiso Bomberos</span>
            <i class="icofont-duotone icofont-expand icofont-2x"></i>
          </button>
        </h4>
        <div
          id="accordion-open-body-1"
          class="hidden"
          aria-labelledby="accordion-open-heading-1"
        >
          <div class="p-5 border border-b-0 border-gray-600 bg-white">
            <h3 class="font-bold">Requisitos</h3>
            <ul class="list-disc p-6">
              <li>Cédula Catastral</li>
              <li>Cédula Catastral</li>
            </ul>
            <p>
              <span class="font-bold">Tiempo estimado 2 a 3 semanas</span>
            </p>
            <p>
              <span class="font-bold">Precio:</span> A partir de 200$ según MT2 del
              Local
            </p>
          </div>
        </div>
        {/*** dos */}
        <h4 id="accordion-open-heading-2">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-bold rtl:text-right border border-gray-700 hover:text-slate-200 hover:bg-primary-700 gap-3"
            data-accordion-target="#accordion-open-body-2"
            aria-expanded="false"
            aria-controls="accordion-open-body-2"
          >
            <span class="flex items-center"> PErmiso Sanitario</span>
            <i class="icofont-duotone icofont-expand icofont-2x"></i>
          </button>
        </h4>
        <div
          id="accordion-open-body-2"
          class="hidden"
          aria-labelledby="accordion-open-heading-2"
        >
          <div class="p-5 border border-b-0 border-gray-600 bg-white">
            <h3 class="font-bold">Requisitos</h3>
            <ul class="list-disc p-6">
              <li>Cédula Catastral</li>
              <li>Cédula Catastral</li>
            </ul>
            <p>
              <span class="font-bold">Tiempo estimado 2 a 3 semanas</span>
            </p>
            <p>
              <span class="font-bold">Precio:</span> A partir de 200$ según MT2 del
              Local
            </p>
          </div>
        </div>
        {/*** tres */}
        <h4 id="accordion-open-heading-3">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-bold rtl:text-right border border-gray-700 hover:text-slate-200 hover:bg-primary-700 gap-3"
            data-accordion-target="#accordion-open-body-3"
            aria-expanded="false"
            aria-controls="accordion-open-body-3"
          >
            <span class="flex items-center"> Sellados Libros Legales</span>
            <i class="icofont-duotone icofont-expand icofont-2x"></i>
          </button>
        </h4>
        <div
          id="accordion-open-body-3"
          class="hidden"
          aria-labelledby="accordion-open-heading-3"
        >
          <div class="p-5 border border-b-1 border-gray-600 bg-white">
            <h3 class="font-bold">Requisitos</h3>
            <ul class="list-disc p-6">
              <li>Cédula Catastral</li>
              <li>Cédula Catastral</li>
            </ul>
            <p>
              <span class="font-bold">Tiempo estimado 2 a 3 semanas</span>
            </p>
            <p>
              <span class="font-bold">Precio:</span> A partir de 200$ según MT2 del
              Local
            </p>
          </div>
        </div>
        {/*** cuatro */}
        {/*** cinco */}
      </div>
    </SeccionServicios>
    <Cta titulo="Alguna Pregunta?" descrip="No te quedes con la duda" />
    <section class=" bg-white my-4 rounded-2xl py-16 px-2 md:px-8">
      <div class="flex flex-col items-center justify-center mx-auto">
      <h3
        class="max-w-2xl mb-4 tracking-tight leading-none text-center"
      >
        Más Servicios de BerHoyte & Asociados
      </h3>
      <p
        class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl text-center"
      >
        No solo llevamos cuentas: impulsamos confianza, organización y visión de futuro.
      </p>
      </div>
       <div
          class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-4 md:space-y-0"
        >
          {
            items.map((item) => (
              <Destacados
                itemtitulo={item.itemtitulo}
                descrip={item.descrip}
                url={item.url}
                imagen={item.imagen}
              />
            ))
          }
        </div>
    </section>
  </Seccion>
  
</Layout>
